<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AGC Chat Website</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Include Socket.IO client from CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"></script>
    <script src="/static/js/main.js"></script>
  </head>
  <body>
    <h1>Welcome to AGC Chat</h1>
    <div id="chat"></div>
    <br>
    <input type="text" id="messageInput" placeholder="Type your message...">
    <button id="sendButton">Send</button>
  </body>
</html>